/* A Gift */
/* 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠛⢩⣴⣶⣶⣶⣌⠙⠫⠛⢋⣭⣤⣤⣤⣤⡙⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡟⢡⣾⣿⠿⣛⣛⣛⣛⣛⡳⠆⢻⣿⣿⣿⠿⠿⠷⡌⠻⣿⣿⣿⣿
⣿⣿⣿⣿⠏⣰⣿⣿⣴⣿⣿⣿⡿⠟⠛⠛⠒⠄⢶⣶⣶⣾⡿⠶⠒⠲⠌⢻⣿⣿
⣿⣿⠏⣡⢨⣝⡻⠿⣿⢛⣩⡵⠞⡫⠭⠭⣭⠭⠤⠈⠭⠒⣒⠩⠭⠭⣍⠒⠈⠛
⡿⢁⣾⣿⣸⣿⣿⣷⣬⡉⠁⠄⠁⠄⠄⠄⠄⠄⠄⠄⣶⠄⠄⠄⠄⠄⠄⠄⠄⢀
⢡⣾⣿⣿⣿⣿⣿⣿⣿⣧⡀⠄⠄⠄⠄⠄⠄⠄⢀⣠⣿⣦⣤⣀⣀⣀⣀⠄⣤⣾
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣶⡶⢇⣰⣿⣿⣟⠿⠿⠿⠿⠟⠁⣾⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡟⢛⡛⠿⠿⣿⣧⣶⣶⣿⣿⣿⣿⣿⣷⣼⣿⣿⣿⣧⠸⣿⣿
⠘⢿⣿⣿⣿⣿⣿⡇⢿⡿⠿⠦⣤⣈⣙⡛⠿⠿⠿⣿⣿⣿⣿⠿⠿⠟⠛⡀⢻⣿
⠄⠄⠉⠻⢿⣿⣿⣷⣬⣙⠳⠶⢶⣤⣍⣙⡛⠓⠒⠶⠶⠶⠶⠖⢒⣛⣛⠁⣾⣿
⠄⠄⠄⠄⠄⠈⠛⠛⠿⠿⣿⣷⣤⣤⣈⣉⣛⣛⣛⡛⠛⠛⠿⠿⠿⠟⢋⣼⣿⣿
⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠈⠉⠉⣻⣿⣿⣿⣿⡿⠿⠛⠃⠄⠙⠛⠿⢿⣿
⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢬⣭⣭⡶⠖⣢⣦⣀⠄⠄⠄⠄⢀⣤⣾⣿
⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⢰⣶⣶⣶⣾⣿⣿⣿⣿⣷⡄⠄⢠⣾⣿⣿⣿


*/

:root{
    /* Colors */
    --pri: #c022ff;
    --sec: #7681e4;
    --p_alt: #d39fe7;
    --s_alt: #9baeec;

    --bg: #f0f0f0;
    --bg_dark: #353535;
    --shadow: rgba(0,0,0,.2);
    --fg: #ffffff;
    --fg_dark: #3d3d3d;
    /* fixed */

    --danger: ;
    --warning: ;
}



*{
font-family: sans-serif;
color: var(--fg);
}
/* Buttons */
button{
    background-color: var(--sec);
    font-weight: bolder;
    height: 2.5rem;
    width: max-content;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    text-transform: uppercase;
    box-shadow: var(--shadow) -2px 1px 3px;
}
button:hover{
    background-color: var(--s_alt);
    color: var(--fg_dark);
}
.btn_primary{
    background-color: var(--pri);
}
.btn_primary:hover{
    background-color: var(--p_alt);
    color: var(--fg_dark);
}

/* input Tags */


/* Attribute selector */

/*selector [attr to match]  */
input[type="text"]{
    height: 2rem;
    border-radius: 20px;
    margin: 10px auto;
    min-width: 10rem;
    border: none;
    color: var(--fg_dark);
    padding: 0px 10px;
    width: 70%;
    box-shadow: var(--shadow) -2px 1px 3px;
}
input:focus{
    border-bottom: solid var(--pri) 1px;
    outline: none;
}
.solid-dark input{
    background-color: var(--fg_dark);
    color: var(--fg);

}



/* Frames */

.solid{
    background-color: var(--bg);
    margin: auto;
    border-radius: 10px ;
    box-shadow: var(--shadow) -2px 2px 3px;
    color: var(--fg_dark);
    max-width: 500px;
    min-width: 400px;
    padding: 20px;
    display: grid;
}
.solid button{
    margin: auto;
}


.solid-dark{
    background-color: var(--bg_dark);
    color: var(--fg);
}


